<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanskriti 2023 - Official Website</title>
    <link rel="icon" href="img/Sanskriti23_LOGO_PNG.png">

    <link rel="stylesheet" href="css/swiper-bundle.min.css" />

    <!-- remix icon cdn link  -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/countdown.css">
    <link rel="stylesheet" href="css/events.css">



</head>
<body>
    
    <!-- start header-->
    
    <header class="header">
        <img id="logo" src="img/HEad_1.png" height="65rem">
        <!--start navbar-->
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#events">Events</a>
            <a href="#gallery">Gallery</a>
            <a href="#sponsors">Sponsors</a>
            <a href="#contact">Contact</a>
            <a href="#events">Register</a>
    
    
    
        </nav>
        <!-- ends navbar-->
    
        <div id="menu-bars" class="fas ri-bar-chart-horizontal-fill"></div>
    
    </header>
    
    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <img src="img/Banner_GIF2.gif" alt="Sanskriti animation" width="90%">
        </div>

    </section>

    <!-- home section ends -->

    <!--notice section strats here-->
        <section class="update" id="update">
            <div class="update-container">
                <h1 id="headline">Let's Start the Countdown</h1>
                <div id="countdown">
                    <ul>
                        <li><span id="days"></span>days</li>
                        <li><span id="hours"></span>Hours</li>
                        <li><span id="minutes"></span>Minutes</li>
                        <li><span id="seconds"></span>Seconds</li>
                    </ul>
                </div>
                <div class="news" id="news">
                    <p id="blink">GET Your AFSU SANSKRITI<span><a href=#>TSHIRT</a></span></p>
        <script type="text/javascript">
            var blink = document.getElementById('blink');
            setInterval(function() {
                blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
            }, 1500);
        </script>
                </div>
            </div>
        </section>
    <!--notice section ends here-->
    <!-- about section starts  -->

    <section class="about" id="about">
    
        <h1 class="heading">A Few Words <span>sanskriti</span></h1>
    
        <div class="row">
    
            <div class="content">
                <h3>Your AFSU</h3>
                <p>The Arts Faculty Students Union (AFSU) is the elected students union of the Arts Faculty of Jadavpur    
                     University.</p>
                <p>A union that strives to maintain transparency, it is a union of the students, by the students and for the
                    students.</p>
                <p>Time and again, AFSU has proven to be a space for raising voice against any unjust steps that may undermine the
                    students' interest.</p>
                <p>In a historical note, AFSU, as a space of unionised students, had been able to resist a lot of anti-students
                    stances by the University authority, and maintain the democratic space in the campus. Aside from that, AFSU     
                    also</p>
                <p>regularly strives to lend economic support by crowdfunding to people in need, from the faculty, or people who
                    help the students in many ways in the University campus. The Arts Faculty Students Union, also organises
                    Freshers for the Arts Department, various sports activities, as well as fests, which includes AFSU Sanskriti.
                </p>
            </div>
    
            <div class="content">
                <h3>Your SANSKRITI</h3>
                <p>Like every year AFSU Sanskriti will host a variety of events and ensure the participation and preservation of    
                     young and  willing hearts as celebratory moments in history..</p>
    
                <p>AFSU Sanskriti has been a beautiful endeavour of creativity. Including the varied spectrum of cultural 
                    performances it engages innumerable students encouraging them to contribute their own shares of unique 
                    creativity.</p>
                <p>The varied representations of Indian culture through different art forms is the purpose of Sanskriti.  It not    
                     only encourages talent but also gathers people together and weaves them in a network of joy through art.</p>
                <p>The contemporary education system is more about individualistic segregation rather than humanitarian values. We  
                    have been demoted from the collective identity of students to programmed robots of 21st century. Yet, being an 
                    event of this contemporary world, Sanskriti is, as previously said , an endeavour towards holistic 
                    learning</p>
                
            </div>
    
        </div>
    
    </section>

<!-- about section ends -->

<!-- events section starts  -->
<section class="events" id="events">
    <h1 class="heading" style="margin-bottom: -8rem;"><span>Event</span> Timeline</h1>
    <div class="container">
        <div class="rightbox">
            <div class="rb-container">
                <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            3Oth Jan
                        </div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            31st Jan 
                        </div>
                        <div class="item-title">Mia Redwood commented on your last post.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            1st Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            2nd Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            3rd Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            4th Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            5th Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            6th Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>

                </ul>

            </div>
        </div>
    </div>
    </div>

</section>
<!--events section ends-->

    <!-- gallery section starts  -->

    <!--section class="gallery" id="gallery">

        <h1 class="heading">Photo <span>Gallery</span></h1>
        <div class="swiper-container home-slider">
            <div class="swiper-wrapper" style="margin-bottom: -4rem;">
                <div class="swiper-slide"><img src="img/sans1.jpg" alt="" width="80px"></div>
                <div class="swiper-slide"><img src="img/sans2.jpg" alt="" width="80px"></div>
                <div class="swiper-slide"><img src="img/sans3.jpg" alt="" width="80px"></div>
                <div class="swiper-slide"><img src="img/sans4.jpg" alt=""  width="80px"></div>
                <div class="swiper-slide"><img src="img/sans5.jpg" alt="" width="80px"></div>
            </div>
        </div>

       

    </section-->

    <!-- gallery section ends -->

    <!-- price section starts  ->

    <section class="sponsors" id="sponsors">
        <h1 class="heading"> past associate <span>sponsors</span> </h1>
        <div class="box-container">
            <div class="box"><img src="/images/sponsors/ceat.gif" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/snickers.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/cl.gif" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/abp.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/cola.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/spencer.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/spykar.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/saregama.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/RELIANCE.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/jet.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/Vodafone.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/mahindra.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/oil.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/tata.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/Micromax.jpg" alt="" height="100rem"></div>
            <div class="box"></div>
            <div class="box"><img src="/images/sponsors/mts_logo.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/SPCL-New-1.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/pepsico.gif" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/red.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/yamaha.gif" alt="" height="100rem"></div>
            <div class="box"></div>
            <div class="box"><img src="/images/sponsors/toi.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/virgin.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/wipro.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/zoomcar-cover.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/uninor.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/VH1.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/food_sponsor.png" alt="" height="100rem"></div>
        </div-->
        <!-- <h1 class="heading"> food <span>sponsor</span> </h1> -->
    <!--/section-->

    <!-- price section ends -->

    <!-- contact section starts  ->

    <section class="contact" id="contact">

        <h1 class="heading"> <span>contact</span> us </h1>
        <div class="box-container">
            <div class="box">
                <h3>Event Coordinator</h3>
                <ul>
                    <li>Souhardya Chakrabarti +91 86208 36002</li>
                </ul>
            </div>
            <div class="box">
                <h3>General Conveners</h3>
                <ul>
                    <li>Rohit Biswas +91 89670 30843</li>
                    <li>Ohidur Rahaman +91 79084 53953</li>
                    <li>Biva Halder +91 85978 52350</li>
                </ul>
            </div>
            <div class="box">
                <h3>Finance Conveners</h3>
                <ul>
                    <li>Sk Wasif Ikbal +91 70037 24023</li>
                    <li>Pabitra Mondal +91 87778 60129</li>
                    <li>Aritra Ghosh +91 90731 74116</li>
                </ul>
            </div>
        </div>

    </section-->

    <!-- contact section ends -->

    <!-- footer section starts-->
       
    <!-- footer section ends -->

    <script src="js/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>
    <!--script src="js/timeline.js"></script-->
    <script src="js/countdown.js"></script>
    <!--script src="js/event.js"></script-->

</body>
</html>