<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanskriti 2023 - Official Website</title>
    <link rel="icon" href="img/Sanskriti23_LOGO_PNG.png">

    <link rel="stylesheet" href="css/swiper-bundle.min.css" />

    <!-- remix icon cdn link  -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/countdown.css">
    <link rel="stylesheet" href="css/events.css">



</head>
<body>
    
    <!-- start header-->
    
    <header class="header">
        <img id="logo" src="img/HEad_1.png" height="65rem">
        <!--start navbar-->
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#events">Events</a>
            <a href="#gallery">Gallery</a>
            <a href="#sponsors">Sponsors</a>
            <a href="#contact">Contact</a>
            <a href="#events">Register</a>
    
    
    
        </nav>
        <!-- ends navbar-->
    
        <div id="menu-bars" class="fas ri-bar-chart-horizontal-fill"></div>
    
    </header>
    
    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <img src="img/Banner_GIF2.gif" alt="Sanskriti animation" width="90%">
        </div>

    </section>

    <!-- home section ends -->

    <!--notice section strats here-->
        <section class="update" id="update">
            <div class="container">
                <h1 id="headline">Let's Start the Countdown</h1>
                <div id="countdown">
                    <ul>
                        <li><span id="days"></span>days</li>
                        <li><span id="hours"></span>Hours</li>
                        <li><span id="minutes"></span>Minutes</li>
                        <li><span id="seconds"></span>Seconds</li>
                    </ul>
                </div>
            </div>
        </section>
    <!--notice section ends here-->
    <!-- about section starts  -->

    <section class="about" id="about">
    
        <h1 class="heading">A Few Words <span>sanskriti</span></h1>
    
        <div class="row">
    
            <div class="content">
                <h3>Your AFSU</h3>
                <p>one that every student of Jadavpur University happily personifies into the most beautiful and culturally
                    diverse festival of the year. To us, SANSKRITI is not an event, it is a concept; it is like weaving
                    reality with threads of a dream. Today, more than 30 years from its beginning, Sanskriti stands as a
                    very famous and awaited event but we, the students of JU, had never strived to reach that goal. Our aim
                    is to recall our identity, our culture, our sense of the world around us and redefining the mechanical
                    norms of social and cultural life. It sounds clichéd. But that is our aim. And more importantly,that is
                    the feeling that acts as the guiding force as we work for Sanskriti.</p>
    
                <p>While working for Sanskriti one gets an odd and warm feeling of creation, of stirring new life into a
                    cold and dead sensation, of finding new ideas and new thoughts that one didn't believe existed before..
                    Cultural activities have graduated from Sanskriti to Film Festival, Tech Fest - Srijan and Union
                    Fresher's Welcome U-Turn for us, these are all manifestations of our inherent wish to brighten up the
                    world around us, to be more creative and to walk with everyone in the world on a new path of discovery.
                    On the way we pick up delirium, hysteria and heart-aches.But that is all part of the adventure. After
                    all, its Sanskriti !!</p>
            </div>
    
            <div class="content">
                <h3>Your SANSKRITI</h3>
                <p>one that every student of Jadavpur University happily personifies into the most beautiful and culturally
                    diverse festival of the year. To us, SANSKRITI is not an event, it is a concept; it is like weaving
                    reality with threads of a dream. Today, more than 30 years from its beginning, Sanskriti stands as a
                    very famous and awaited event but we, the students of JU, had never strived to reach that goal. Our aim
                    is to recall our identity, our culture, our sense of the world around us and redefining the mechanical
                    norms of social and cultural life. It sounds clichéd. But that is our aim. And more importantly,that is
                    the feeling that acts as the guiding force as we work for Sanskriti.</p>
    
                <p>While working for Sanskriti one gets an odd and warm feeling of creation, of stirring new life into a
                    cold and dead sensation, of finding new ideas and new thoughts that one didn't believe existed before..
                    Cultural activities have graduated from Sanskriti to Film Festival, Tech Fest - Srijan and Union
                    Fresher's Welcome U-Turn for us, these are all manifestations of our inherent wish to brighten up the
                    world around us, to be more creative and to walk with everyone in the world on a new path of discovery.
                    On the way we pick up delirium, hysteria and heart-aches.But that is all part of the adventure. After
                    all, its Sanskriti !!</p>
            </div>
    
        </div>
    
    </section>

<!-- about section ends -->

<!-- events section starts  -->
<section class="events" id="events">
    <h1 class="heading" style="margin-bottom: -8rem;"><span>Event</span> Timeline</h1>
    <div class="container">
        <div class="rightbox">
            <div class="rb-container">
                <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            3Oth Jan
                        </div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            31st Jan 
                        </div>
                        <div class="item-title">Mia Redwood commented on your last post.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            1st Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            2nd Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            3rd Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            4th Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            5th Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            6th Feb
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                        <div class="item-title">Chris Serrano posted a photo on your wall.</div>

                    </li>

                </ul>

            </div>
        </div>
    </div>
    </div>

</section>
<!--events section ends-->

    <!-- gallery section starts  -->

    <!--section class="gallery" id="gallery">

        <h1 class="heading">Photo <span>Gallery</span></h1>
        <div class="swiper-container home-slider">
            <div class="swiper-wrapper" style="margin-bottom: -4rem;">
                <div class="swiper-slide"><img src="img/sans1.jpg" alt="" width="80px"></div>
                <div class="swiper-slide"><img src="img/sans2.jpg" alt="" width="80px"></div>
                <div class="swiper-slide"><img src="img/sans3.jpg" alt="" width="80px"></div>
                <div class="swiper-slide"><img src="img/sans4.jpg" alt=""  width="80px"></div>
                <div class="swiper-slide"><img src="img/sans5.jpg" alt="" width="80px"></div>
            </div>
        </div>

       

    </section-->

    <!-- gallery section ends -->

    <!-- price section starts  ->

    <section class="sponsors" id="sponsors">
        <h1 class="heading"> past associate <span>sponsors</span> </h1>
        <div class="box-container">
            <div class="box"><img src="/images/sponsors/ceat.gif" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/snickers.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/cl.gif" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/abp.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/cola.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/spencer.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/spykar.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/saregama.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/RELIANCE.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/jet.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/Vodafone.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/mahindra.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/oil.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/tata.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/Micromax.jpg" alt="" height="100rem"></div>
            <div class="box"></div>
            <div class="box"><img src="/images/sponsors/mts_logo.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/SPCL-New-1.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/pepsico.gif" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/red.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/yamaha.gif" alt="" height="100rem"></div>
            <div class="box"></div>
            <div class="box"><img src="/images/sponsors/toi.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/virgin.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/wipro.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/zoomcar-cover.png" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/uninor.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/VH1.jpg" alt="" height="100rem"></div>
            <div class="box"><img src="/images/sponsors/food_sponsor.png" alt="" height="100rem"></div>
        </div-->
        <!-- <h1 class="heading"> food <span>sponsor</span> </h1> -->
    <!--/section-->

    <!-- price section ends -->

    <!-- contact section starts  ->

    <section class="contact" id="contact">

        <h1 class="heading"> <span>contact</span> us </h1>
        <div class="box-container">
            <div class="box">
                <h3>Event Coordinator</h3>
                <ul>
                    <li>Souhardya Chakrabarti +91 86208 36002</li>
                </ul>
            </div>
            <div class="box">
                <h3>General Conveners</h3>
                <ul>
                    <li>Rohit Biswas +91 89670 30843</li>
                    <li>Ohidur Rahaman +91 79084 53953</li>
                    <li>Biva Halder +91 85978 52350</li>
                </ul>
            </div>
            <div class="box">
                <h3>Finance Conveners</h3>
                <ul>
                    <li>Sk Wasif Ikbal +91 70037 24023</li>
                    <li>Pabitra Mondal +91 87778 60129</li>
                    <li>Aritra Ghosh +91 90731 74116</li>
                </ul>
            </div>
        </div>

    </section-->

    <!-- contact section ends -->

    <!-- footer section starts-->
    
    <section class="foot">
        <footer class="footer">
            <ul class="social-icon">
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            </ul>
            <ul class="menu">
              <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
              <li class="menu__item"><a class="menu__link" href="#">About</a></li>
              <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
              <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
              <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
        
            </ul>
            <h5>&copy;2023 AFSU, Jadavpur University | All Rights Reserved </h5>
            <p>Designed and Developed |  Rainbow</p>
          </footer>
          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        
    </section-->

    <!-- footer section ends -->

    <script src="js/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>
    <!--script src="js/timeline.js"></script-->
    <script src="js/countdown.js"></script>
    <!--script src="js/event.js"></script-->

</body>
</html>